{% extends "layout.html" %}

{% block title %}
Inicio - Restaurante Sabores Únicos
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section id="hero" class="jumbotron text-center bg-primary text-white py-5">
    <h1 class="display-4">Bienvenido a Restaurante Sabores Únicos</h1>
    <p class="lead">¡Descubre sabores que deleitarán tus sentidos!</p>
</section>

<!-- Menú del Restaurante -->
<section id="menu" class="container mt-5">
    <h1 class="text-center mb-4">MENÚ DEL RESTAURANTE "SABORES ÚNICOS"</h1>

    {% for category, items in menu.items() %}
    <!-- Sección dinámica para cada categoría -->
    <section id="{{ category }}" class="menu-section mt-5">
        <h2 class="text-center">{{ category | capitalize }}</h2>
        <div class="row">
            {% for item in items %}
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card menu-card" onclick="toggleCardInfo(this)">
                    <img src="{{ url_for('static', filename='images/' + item.image) }}" class="card-img-top img-fluid" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="menu-price">Precio: ${{ item.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</section>

<script type="module" src="{{ url_for('static', filename='js/users/index.js') }}"></script>
{% endblock %}
