{% extends "layout.html" %}

{% block title %}Registro{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Registro de Usuario</h2>
    <form id="registerForm" method="POST" class="bg-light p-4 rounded shadow-sm">
        <!-- Campo de Nombre -->
        <div class="mb-4">
            <label for="name" class="form-label">Nombre</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" id="name" name="name" autofocus required placeholder="Ingrese su nombre">
            </div>
            <small class="text-danger d-none" id="nameError">El nombre es requerido.</small>
        </div>
        
        <!-- Campo de Teléfono -->
        <div class="mb-4">
            <label for="phone" class="form-label">Teléfono</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                <input type="text" class="form-control" id="phone" name="phone" required placeholder="Ingrese su número de teléfono">
            </div>
            <small class="text-danger d-none" id="phoneError">El teléfono es requerido.</small>
        </div>
        
        <!-- Campo de Correo Electrónico -->
        <div class="mb-4">
            <label for="email" class="form-label">Correo Electrónico</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control" id="email" name="email" required placeholder="Ingrese su correo electrónico">
            </div>
            <small class="text-danger d-none" id="emailError">Debe ingresar un correo válido.</small>
        </div>
        
        <!-- Campo de Contraseña -->
        <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" id="password" name="password" required placeholder="Cree una contraseña">
                <span class="input-group-text">
                    <i class="fas fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                </span>
            </div>
            <small class="text-danger d-none" id="passwordError">La contraseña es requerida.</small>
        </div>
        
        <!-- Botón de Enviar -->
        <button type="submit" class="btn btn-primary w-100 shadow-sm">Registrarse</button>
    </form>
</div>

<!-- Enlace al archivo JavaScript -->
<script type="module" src="{{ url_for('static', filename='js/users/Register.js') }}"></script>
{% endblock %}
