{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Hacer una Reservación</h2>
    <form id="reservationForm" method="POST" action="/reservations">
        <!-- Campo para la fecha de la reservación -->
        <div class="mb-4">
            <label for="reservation_date" class="form-label">Fecha de la Reservación</label>
            <input type="date" class="form-control" id="reservation_date" name="reservation_date" required>
        </div>

        <!-- Campo para la hora de la reservación -->
        <div class="mb-4">
            <label for="reservation_time" class="form-label">Hora de la Reservación</label>
            <input type="time" class="form-control" id="reservation_time" name="reservation_time" required>
        </div>

        <!-- Campo para el número de personas -->
        <div class="mb-4">
            <label for="number_of_people" class="form-label">Número de Personas</label>
            <input type="number" class="form-control" id="number_of_people" name="num_people" min="1" required>
        </div>

        <!-- Campo para el número de mesa -->
        <div class="mb-4">
            <label for="table_number" class="form-label">Número de Mesa</label>
            <input type="number" class="form-control" id="table_number" name="table_number" min="1" required>
        </div>

        <!-- Campo para el tipo de mesa -->
        <div class="mb-4">
            <label for="table_type" class="form-label">Tipo de Mesa</label>
            <select class="form-control" id="table_type" name="table_type" required>
                <option value="interior">Interior</option>
                <option value="exterior">Exterior</option>
            </select>
        </div>

        <!-- Campo para solicitudes especiales -->
        <div class="mb-4">
            <label for="special_requests" class="form-label">Solicitudes Especiales</label>
            <textarea class="form-control" id="special_requests" name="special_requests" rows="3" placeholder="¿Algo especial que deberíamos saber?"></textarea>
        </div>

        <!-- Campo de aceptación de términos y condiciones -->
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="terms_and_conditions" name="terms_and_conditions_accepted" required>
            <label class="form-check-label" for="terms_and_conditions">
                Acepto los <a href="#">términos y condiciones</a>.
            </label>
        </div>

        <!-- Campo de confirmación por correo electrónico -->
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="email_confirmation" name="email_confirmation" value="true">
            <label class="form-check-label" for="email_confirmation">
                Deseo recibir una confirmación de mi reserva por correo electrónico.
            </label>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary w-100 shadow-sm">Reservar</button>
    </form>
</div>

<script type="module" src="{{ url_for('static', filename='js/users/reservation.js') }}"></script>
{% endblock %}
