{% extends "layout.html" %}

{% block title %}
Platillos del Menú
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Platillos del Menú</h1>
    <a href="{{ url_for('admin.add_dish') }}" class="btn btn-success mb-3">Agregar Platillo</a>

    <!-- Tabla para mostrar los platillos -->
    <table
    class="table table-hover table-bordered table-responsive table-striped nowrap"
    id="Tabla"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Descripción</th>
        <th class="text-center">Precio</th>
      </tr>
    </thead>
  </table>
</div>
<script type="module" src="{{ url_for('static', filename='js/users/view_dishes.js') }}"></script>
{% endblock %}